body {
    background: linear-gradient(to bottom, #fff, #fff5e1);
    border: 5px solid #fff; 
    color: #333; 
    font-family: 'Courier New', Courier, monospace; 
}

h1 {
    color: #fff; 
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    width: 80%;
    margin: 0 auto;
    padding: 20px; 
    font-family: 'Verdana'; 
    text-align: center; 
}

#main {
    color: #333; 
}

img {
    width: 300px; 
    display: block; 
    margin: 0 auto;
    border: 5px solid #fff; 
}

#imageContainer {
    text-align: center;
}

.framed-image {
    width: 250px; 
    margin: 10px; 
    border: 10px solid #000; 
    border-radius: 10px; 
}

.circular-button {
    border-radius: 50%; 
    padding: 10px 20px; 
    margin: 10px; 
    display: inline-block;
}

#navigateButton,
#websiteButton,
#greetButton {
    background-color: #fff;
    color: #000;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
